{% extends "site.html" %}

{% block body %}
<table class="entry_table">
  <tr>
    <th>Blog Title</th>
    <th>Publish Date</th>
  </tr>
  {% for entry in entries %}
  <tr>
    <td>
      <p><a href="entry/{{ entry.slug }}">{{ entry.title }}</a></p>
    </td>
    <td>
      <p>{{ entry.date|timesince }}{% if session.logged_in %} | <a href="/entry/{{ entry.slug }}/edit">edit</a> | <a href="/entry/{{ entry.slug }}/del">delete</a>{% endif %}</p>
    </td>
{% else %}
  <tr>
    <td>No articles yet!</td>
    <td></td>
  </tr>
{% endfor %}
</table>
{% endblock body %}
