{% extends "site.html" %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='markitup/skins/simple/style.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='markitup/sets/html/style.css') }}" />
  <script type="text/javascript" src="{{ url_for('static', filename='markitup/jquery.markitup.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='markitup/sets/html/set.js') }}"></script>
{% endblock %}
{% block body %}
<script language="javascript">
$(document).ready(function()	{
   $('#html').markItUp(mySettings);
});
</script>
<form action="/entry/{{ entry.slug }}/edit" method="post" class="add-entry">
  <dl>
    <dt>Title:</dt>
    <dd><input type="text" size="60" name="title" value="{{ entry.title }}"></dd>
    <dt>Slug:</dt>
    <dd><input type="text" size="60" name="slug" value="{{ entry.slug }}"></dd>
    <dt>Text:</dt>
    <dd><textarea name="content" rows="20" cols="60" id="html">{{ entry.content }}</textarea></dd>
    <dt>Tags:</dt>
    <dd><input type="text" name="tags" value="{% if entry %}{{ entry.tags_string() }}{% endif %}" /></dd>
    <dd><input type="submit" value="Post" class="post"></dd>
  </dl>
</form>
{% endblock %}

