{% extends "site.html" %}

{% block body %}
<ul class="entries">
{% for entry in entries %}
  <li>
    <h2 class="entry_title"><a href="entry/{{ entry.slug }}" title="published: {{ entry.date }}">{{ entry.title }}</a></h2>
    {% if session.logged_in %}
    <p class="tool"><a href="/entry/{{ entry.slug }}/edit">edit</a><a href="/entry/{{ entry.slug }}/del">delete</a></p>
    {% endif %}
    <div style="clear:both"></div>
    <div class="blog">{{ entry.content|safe }}</div>
    {% if entry.tags %}
    <div class="posttags">tags:
      {% for each_tag in entry.tags %}
        <a href="/tags/{{ each_tag.tag|escape }}">{{ each_tag.tag }}</a>
      {% endfor %}
    </div>
    {% endif %}
  </li>
  <div class="break_line"></div>
{% else %}
  <li><em>Unbelievable. No entries here so far!</em></li>
{% endfor %}
</ul>
{% endblock body %}
