{% extends "site.html" %}

{% block body %}
{% if session.logged_in %}
<form action="{{ url_for('add') }}" method="post" class="add-entry">
  <dl>
    <dt>Title:</dt>
    <dd><input type="text" size="60" name="title"></dd>
    <!--<dt>Slug:</dt>
    <dd><input type="text" size="60" name="slug"></dd>-->
    <dt>Text:</dt>
    <dd><textarea name="content" rows="20" cols="60"></textarea></dd>
    <dd><input type="submit" value="Share"></dd>

  </dl>
</form>
{% endif %}

<ul class="entries">
{% for entry in entries %}
  <li>
    <h2><a href="entry/{{ entry.key().id() }}">{{ entry.title }}</a></h2>
    <p>{{ entry.date }}</p>
    <div>{{ entry.content|safe }}</div>
  </li>
{% else %}
  <li><em>Unbelievable. No entries here so far!</em></li>
{% endfor %}
</ul>
{% endblock body %}
