<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Flasky</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/prettify.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='markitup/skins/markitup/style.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='markitup/sets/html/style.css') }}" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/prettify.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='markitup/jquery.markitup.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='markitup/sets/html/set.js') }}"></script>
  {% block extra_head %}{% endblock %}
<script language="javascript">
$(document).ready(function()	{
   $('#html').markItUp(mySettings);
});
</script>
</head>

<body onload="prettyPrint()">
<div class="page">
  <h1><a href="/">Flasky</a></h1>
  <div class="metanav">
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
</body>
</html>
