<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Flasky</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/prettify.css') }}" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/prettify.js') }}"></script>
  {% block extra_head %}{% endblock %}
  <link href="{{ url_for('recent_feed') }}" rel="alternate" title="Recent Changes" type="application/atom+xml">
</head>

<body onload="prettyPrint()">

<div class="page">
    <div id="head">
        <a id="title" href="/">Mark Renton's Blog</a>
        <div id="menu">
            <a href="/archive">archive</a>
            {% if session.logged_in %}
            <a href="/dashboard">add</a>
            <a href="{{ url_for('logout') }}">logout</a>
            {% else %}
            <a href="{{ url_for('login') }}">login</a>
            {% endif %}
            <a href="http://feeds.feedburner.com/MarkRentonsBlog">feed</a>
        </div>
    </div>

    {% for message in get_flashed_messages() %}
    <div class="meta">
        <div class="flash">{{ message }}</div>
    </div>
    {% endfor %}

    <div class="content">{% block body %}{% endblock %}</div>
    
    <div id="foot">
    <table width="100%">
        <tr>
            <td width="50%">
        <div class="tag_cloud"><span>Tags:</span>
        {% for tag in tags %}
            <font size="{{ tag.tagged_count|tag_size }}"><a href="/tags/{{ tag.tag }}">{{ tag.tag }}</a></font>
        {% endfor %}
        </div>
            </td>
            <td width="50%">
        <div id="recentcomments" class="dsq-widget">
            <span class="dsq-widget-title">Recent Comments:</span>
            <script type="text/javascript" src="http://disqus.com/forums/mark-renton-blog/recent_comments_widget.js?num_items=10&hide_avatars=0&avatar_size=32&excerpt_length=200"></script>
        </div>
            </td>
    </div>

</div>

<a href="https://github.com/indexofire/flasky/" class="forkme" target="_blank"></a>

</body>
</html>
