<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Flasky</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/prettify.css') }}" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/prettify.js') }}"></script>
  {% block extra_head %}{% endblock %}
  <link href="{{ url_for('recent_feed') }}" rel="alternate" title="Recent Changes" type="application/atom+xml">
</head>

<body onload="prettyPrint()">
<div class="page">
  <div class="inner">
    <div id="head">
      <h1 id="title"><a href="/">Mark Renton's Blog</a></h1>
      <h5 id="menu">
        <a href="/archive">archive</a>
      {% if session.logged_in %}
        <a href="/dashboard">add</a>
        <a href="{{ url_for('logout') }}">logout</a>
      {% else %}
        <a href="{{ url_for('login') }}">login</a>
      {% endif %}
        <a href="/recent">atom</a>
      </h5>
    </div>
    <div class="b_line"></div>
    
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    
    <div class="content">{% block body %}{% endblock %}</div>
    <div class="b_line"></div>
    <div id="foot">
      <img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Powered by Google App Engine" />
      <img src="/static/img/flask.png" alt="Based on Flask Framework" />
    </div>
</div>
</div>
<a href="https://github.com/indexofire/flasky/" class="forkme" target="_blank"></a>
</body>
</html>
