@import url(http://fonts.googleapis.com/css?family=Inconsolata&subset=latin);
/* ---------- reset css start -----------*/
html {
    color:#000;
    background:#E8E8E8;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
    margin-bottom: 1em;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img {
    border:0;
}
address,caption,cite,code,dfn,em,strong,th,var,optgroup {
    font-style:inherit;
    font-weight:inherit;
}
del,ins {
    text-decoration:none;
}
li {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym {
    border:0;
    font-variant:normal;
}
sup {
    vertical-align:baseline;
}
sub {
    vertical-align:baseline;
}
legend {
    color:#000;
}
input,button,textarea,select,optgroup,option {
    font-family:inherit;
    font-size:inherit;
    font-style:inherit;
    font-weight:inherit;
}
input,button,textarea,select{
    *font-size:100%;
}
/* ----------- reset css end -------------*/

/* ----------- html element define -------------*/
body {
    margin: 20px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 125%;
}
a,h1,h2 {
    color: #377BA8;
    font-family: 'Cuprum';
    font-weight: bold;
}
h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.6em;
}
h4 {
    font-size: 1.4em;
}
h5 {
    font-size: 1.2em;
}
h6 {
    font-size: 1.0em;
}
.page {@import url(http://fonts.googleapis.com/css?family=Inconsolata&subset=latin);
    margin: auto;
    width: 950px;
    border: 1px solid #CCC;
    background: #F8F8F8;
}
.inner {
    border: 1px solid #FFF;
    margin: 0px;
}
#head {
    margin: 0em;
    padding: 1em;
    background: #F0F0F0;
    height: 1.8em;
}
#head a,
.tool a {
    padding: 0.2em 0.6em;
    text-decoration: none;
    font-family:  monospace;
}
#head a:hover,
.tool a:hover {
    background: #494949;
    color: #F3F3F3;
    border-radius: 2px;
    -moz-border-radius: 2px;
}
#title {
    margin: 0em;
    padding: 0em;
    float: left;
}
#menu {
    margin-top: 0.5em;
    padding-right: 1em;
    float: right;
}
#menu a {
    margin: 0em 0.2em;
}
.b_line {
    border-top: 1px dashed #DCDCDC;
    margin: 0em;
    padding@import url(http://fonts.googleapis.com/css?family=Inconsolata&subset=latin);: 0em;
}
ul.entries {
    list-style: none;
}
ul.entries li {
    margin: 0.8em 1.2em;
}
ul.entries li h2 a {
    padding: 0.3em 0.5em;
    margin-left: -0.5em;
    text-decoration: none;
}
ul.entries li h2 a:hover {
    background: #393939;
    color: #E8E8E8;
}
.add-entry input {
    border: 1px solid #333;
    width: 650px;
}
.add-entry input.post {
    width: 120px;
    padding: 4px;
}
.add-entry textarea {
    width: 640px;
}
.add-entry {
    font-size: 1em;
    border-bottom: 1px solid #CCC;
}
.metanav {
    text-align: right;
    font-size: 1em;
    padding: 0.5em;
    margin-bottom: 1em;
    background: #FAFAFA;
}
.flash {
    background: #CEE5F5;
    padding: 0.5em;
    margin: 0.5em;
    border: 1px solid #AACBE2;
}
.error {
    background: #F0D6D6;
    padding: 0.5em;
}
pre {
    background: #FEFEFE;
    border: 1px dashed #D3D3D3;
    padding: 10px;
    line-height:140%;
}
pre, code, tt {
    font-family: 'Inconsolata';
    font-size: 1em;
}
.content {
    margin: 0em;
    padding: 0.9em;
    background: #F8F8F8;
}
.tool {
    float: right;
}
.break_line {
    margin: 2em 1.2em;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #FFF;
}
#foot{
    height: 40px;
    background: #F0F0F0;
    margin: 0px;
    padding: 1em;
}
#foot .dashed {
    border: 1px dashed #CACACA;
}
.forkme{
    position: absolute;
    top: 0px;
    right: 0px;
    background: url("/static/img/fork_me.png") no-repeat 100% 100%;
    display: block;
    height: 140px;
    width: 140px;
} 
.entry_table {
    width: 95%;
    border: 1px solid #ECECEC;
    margin: 10px;
}
.entry_table td,
.entry_table th {
    padding: 10px;
}
