@import url(http://fonts.googleapis.com/css?family=Inconsolata&subset=latin);
/* ---------- reset css start -----------*/
html {
    background:#E8E8E8;
    font-size: 100.01%;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
    margin:0 0 1em 0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img {
    border:0;
}
address,caption,cite,code,dfn,em,strong,th,var,optgroup {
    font-style:inherit;
    font-weight:inherit;
}
del,ins {
    text-decoration:none;
}
li {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
blockquote, q {
    quotes:"" "";
}
blockquote:before, blockquote:after, q:before,q:after {
    content:"";
}
abbr,acronym {
    border:0;
    font-variant:normal;
}
sup {
    vertical-align:baseline;
}
sub {
    vertical-align:baseline;
}
legend {
    color:#000;
}
input,button,textarea,select,optgroup,option {
    font-family:inherit;
    font-size:inherit;
    font-style:inherit;
    font-weight:inherit;
}
input,button,textarea,select{
    *font-size:100%;
}
a img {
    border:none;
}
/* ----------- reset css end -------------*/

/* ----------- html element define -------------*/
body {
    margin: 20px 0px;
    font-family: "Helvetica Neue", Arial, Helvetica, 雅黑, simsun, sans-serif;
    line-height: 125%;
    font-size: 80%;
    color:#111;
}
h1,h2 {
    color: #6C6C6C;
    font-weight: bold;
    text-decoration: none;
    padding: 2px;
    background: #CECECE;
}
a {
    color: #6C6C6C;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2.4em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.6em;
}
h5 {
    font-size: 1.2em;
}
h6 {
    font-size: 1.0em;
}
.container {
    margin: 0 auto;
    width: 950px;
}
.clear {
    clear: both;
}
.page {
    border: 1px solid #CCC;
    background: #FFF;
    padding: 1px;
    margin: 0px;
}
#head {
    margin: 0em;
    padding: 1.5em 1.5em 1.3em 1.5em;
    background: #EEE;
    border-bottom: 1px dashed #CCC;
}
#head a {
    color: #333537;
    padding: 0.3em 0.6em 0.2em 0.6em;
    margin-left: -0.4em;
    font-family:  monospace;
    font-weight: bold;
    text-shadow: 1px 1px 1px #FFF;
}
#head a:hover {
    background: #494949;
    color: #F3F3F3;
    border-radius: 2px;
    -moz-border-radius: 2px;
    text-shadow: 1px 1px 1px #111;
    text-decoration: none;
}
.title {
    font-size: 2.4em;
}
.menu {
    margin-right: -2em;
    padding: 0.8em 1.2em;
    float: right;
}
.menu a {
    margin: 0.3em 0.3em;
    padding: 0.2em 0.4em;
    font-size: 1.2em;
    color: #636363;
}
.menu a:hover{
    background: #494949;
    color: #F3F3F3;
    border-radius: 2px;
    -moz-border-radius: 2px;
    text-shadow: 1px 1px 1px #111;
    text-decoration: none;
}
#main {
    background: #F8F8F8;
    margin: 0px;
    border-bottom: 1px dashed #CCC;
    min-height: 640px;
}
#main table {
    width: 100%;
    display: inline-table;
}
#main table td {
    vertical-align: top;
}
.left {
    width: 70%;
}
.right {
    width: 30%;
    margin: 0;
    padding: 10px 10px 0px 0px;
}
.right div.title {
    background: #ECECEC;
    color: #696969;
    font-size: 1em;
    font-weight: bold;
    padding: 4px;
}
ul.entries {
    list-style: none;
}
ul.entries li {
    margin: 0.8em 1.2em;
}
ul.entries li h3 a {
    background: #393939;
    color: #E8E8E8;
    border-radius: 4px;
    -moz-border-radius: 4px;
    text-shadow: 1px 1px 1px #111;
    padding: 0.2em 0.4em;
    margin-left: -0.4em;
}
ul.entries li h3 a:hover {
    background: #CACACA;
    color: #444;
    text-shadow: none;
    text-decoration: none;
}
.add-entry input {
    border: 1px solid #333;
    width: 650px;
}
.add-entry input.post {
    width: 120px;
    padding: 4px;
}
.add-entry textarea {
    width: 640px;
}
.add-entry {
    font-size: 1em;
    border-bottom: 1px solid #CCC;
}
.metanav {
    text-align: right;
    font-size: 1em;
    padding: 0.5em;
    margin-bottom: 1em;
    background: #FAFAFA;
}
.flash {
    background: #CEE5F5;
    padding: 1em;
    margin: 1em;
    border: 1px solid #AACBE2;
}
.error {
    background: #F0D6D6;
    padding: 0.5em;
}
pre {
    background: #FEFEFE;
    border: 1px dashed #D3D3D3;
    padding: 10px;
    line-height:140%;
    overflow: auto;
}
pre, code, tt {
    font-family: 'Inconsolata';
    font-size: 1em;
}
.content {
    margin: 0em;
    padding: 1em;
    background: #F8F8F8;
}
.tool {
    float: right;
    margin-right: 0.8em;
}
.tool a {
    margin: 0.2em;
    padding: 0.2em 0.4em;
    font-family: monospace;
    font-size: 1.2em;
    color: #575859;
}
.tool a:hover {
    background: #393939;
    color: #E8E8E8;
    border-radius: 2px;
    -moz-border-radius: 2px;
    text-shadow: 1px 1px 1px #111;
    text-decoration: none;
}
.break_line {
    margin: 2em 0.4em;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #FFF;
}
#foot {
    background: #EEE;
    margin: 0em;
    padding: 1em 2em;
}
#main .entry_table {
    width: 98%;
    border: 1px dashed #CCC;
    margin: 10px;
    background: #FFF;
}
#main .entry_table td,
#main .entry_table th {
    padding: 0.4em;
    border-bottom: 1px dotted #EEE;
}
.posttags a {
    margin: 0em;
    padding: 0.3em;    
    font-size: 0.9em;
}
.posttags a:hover {
    background: #393939;
    color: #E8E8E8;
    text-decoration: none;
}
.entry_title {
    float: left;
}
.entry_title a {
    text-shadow: 1px 1px 1px #FFF;
}
.entry {
    padding: 1em;
}
.tag_cloud {
    padding: 0em;
    margin: 0em;
}
.tag_cloud a {
    margin: 4px 2px;
    padding: 4px;
    color: #3C3C3C;
    text-shadow: 1px 1px 1px #FFF;
}
.tag_cloud a:hover {
    background: #393939;
    color: #E8E8E8;
    text-shadow: 1px 1px 1px #111;
    text-decoration: none;
}
li.dsq-widget-item {
    border-bottom: 1px solid #EEE;
    padding-bottom: 5px;
}
li.dsq-widget-item img {
    border: 2px solid #ACACAC;
    padding: 1px;
    margin: 4px;
}
li.dsq-widget-item p.dsq-widget-meta {
    text-align: right;
}
#head a.active {
    background: #393939;
    color: #E8E8E8;
    text-shadow: 1px 1px 1px #111;
    border-radius: 4px;
    -moz-border-radius: 4px;
}
.dashboard_panel {
    float: left;
    width: 220px;
    padding-top: 10px;
}
.dashboard_panel ul {
    float: right;
    padding-right: 20px;
}
.dashboard_panel ul li {
    text-align: right;
    padding: 5px 10px;
}
.dashboard_title {
    background: #ECECEC;
    color: dimGray;
    font-size: 1em;
    font-weight: bold;
    padding: 4px;
}
.dashboard_main {
    margin-left: 250px;
    padding-top: 15px;
}
.dashboard_active {
    background: #393939;
    color: #E8E8E8;
    text-shadow: 1px 1px 1px #111;
    border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 5px 10px;
    margin-right: -10px;
}
